header{ 
    background: #aefece;
}

.back-link {
    float: right;
}

main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    display: grid; 
    background: rgb( 166, 114, 222); 
    color: #05ff69;
}

article {
    padding: 5px;
    text-align: center;
}

footer {
    background: #aefece;
}